@model List<Contact>

@{
    ViewData["Title"] = "Наши контакты";
}

<section class="contacts">
    <h2>Контакты</h2>

    @foreach (var contact in Model)
    {
        <div class="contact-item">@contact.Name: @contact.Description</div>
    }

@*     <div class="contact-item">📍 Адрес: г. Алматы, ул. Абая, 10</div>
    <div class="contact-item">📞 Телефон: +7 (777) 123-45-67</div>
    <div class="contact-item">✉️ Email: coffee@blackcat.kz</div>
    <div class="contact-item">⏰ Время работы: ежедневно с 08:00 до 22:00</div> *@
</section>