@model List<Product>

@{
    ViewData["Title"] = "Меню";
}

<section class="menu">
    <h2>Наше меню</h2>

    @foreach (var product in Model)
    {
        if (!product.IsActive)
        {
            continue;
        }

        <div class="menu-item">☕ @product.Name — @product.Price ₸</div>
        <div>@product.Description</div>
        <br/>
    }
</section>